h1 {
    text-align: center;
}

.container {
    width: 30%;
    height: 40%;
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    margin: auto;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
}

.text {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    color: teal;
}

body {
    background-image: url(../Proyecto/img/img.jpg);
}

button {
    width: 40%;
    height: 40px;
    color: white;
    background-color: rgb(23, 177, 133);
    border-radius: 10px;
    margin: 0 20% 0 30%;
}

.email,
.password {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    color: teal;
}